.main-content {
    margin-left: 100px;
    margin-right: 62px;
    flex: 1;
    padding: 30px 60px;
    padding-top: 140px;
    margin-bottom: 90px;
}
.search-container {
    width: 330px;
    background: white;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    margin-bottom: 8px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.search-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.table-header {
    background: #032b91;           
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-table {
    width: 100%;
    border-collapse: separate;   
    border-spacing: 0;          
    border: 2px solid white;     
    overflow: hidden;    
}

.info-table td, .info-table th {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 15px;
    font-size: 18px;
    position: relative;
}

.info-table td:last-child, .info-table th:last-child {
    border-right: none;
}

.info-table tr:last-child td {
    border-bottom: none;
}

.info-table th {
    background: #4472c4;
    color: white;
    text-align: left;
}

.info-table tr:nth-child(odd){
    background: #e9ebf5;
}

.info-table tr:nth-child(even){
    background: #cfd5ea;
}

.action {
    color: #032b91;
}

.reschedule-icon {
    width: 30px;
    height: auto;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.material-icon {
    width: 22px;
    height: auto;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.request-btn {
    position: absolute;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 20px;
    margin-top: 15px;
    background: #4472c4;
    font-size: 16px;
}

.request-btn a{
    color: white;
    text-decoration: none;
}