* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1565C0;
    color: white;
    padding: 20px 35px;
    font-size: 14px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.login-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 50px;
    max-width: 450px;
    width: auto;
    height: 500px;
    text-align: center;
}

.logo {
    margin-bottom: 5px;
}

.logo img {
    width: 220px;
    height: auto;
}

.login-card h2 {
    color: #1565C0;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.login-info {
    color: #2196F3;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: left;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 100%;
    /* padding: 12px 18px; */
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 6px;
    color: #2196F3;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    min-height: 50px;
}

.login-button:hover {
    background-color: #f5f5f5;
    border-color: #2196F3;
}

.login-button img {
    width: 50px;
    height: 40px;
}

.footer {
    background-color: #4a4a4a;
    color: white;
    padding: 40px 70px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .login-card {
    padding: 40px 30px;
    }

    .header, .footer {
    padding: 15px 20px;
    }
}
