.main-content {
    margin-left: 100px;
    margin-right: 62px;
    flex: 1;
    padding: 30px 60px;
    padding-top: 140px;
    margin-bottom: 90px;
}

.table-header {
    color: white;
    background-color: #032b91;
    display: inline-flex;
    padding: 8px 50px;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

.info-table {
    width: 100%;
    border-collapse: separate;   
    border-spacing: 0;          
    border: 2px solid white;     
    border-radius: 10px;         
    overflow: hidden;            
}

.info-table td, .info-table th {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 15px;
    font-size: 18px;
    position: relative;
}

.info-table td:last-child, .info-table th:last-child {
    border-right: none;
}

.info-table tr:last-child td {
    border-bottom: none;
}

.info-table th {
    background: #4472c4;
    color: white;
    text-align: left;
}

.info-table tr:nth-child(odd){
    background: #e9ebf5;
}

.info-table tr:nth-child(even){
    background: #cfd5ea;
}

.action {
    color: #032b91;
}

.reschedule-icon {
    width: 30px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.material-icon {
    width: 22px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}